header {
    align-items: center;
}

#outline{
    background-color: #003049;
    overflow: hidden;
    text-align: center;
    border: solid black 4px;
    border-radius: 0 0 10px 10px;
}

#logo{
    background-color: black;
    border-radius: 0 0 10px 10px;
    color: #D62828;
    padding: 10px;
  }

#flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
  /*   comment padding out to see what happens to the elements */
  }

  .flex-item{
    flex: 1 1 25%;
    list-style-type: none;
    padding: 10px;
  }