html {
  scroll-behavior: smooth;
}

header {
    align-items: center;
}

#outline{
    background-color: #b5838d;
    overflow: hidden;
    text-align: center;
    border: solid #6c584c 4px;
    border-radius: 0 0 10px 10px;
}

#logo{
    background-color: #A98467;
    border-radius: 0 0 10px 10px;
    color: #F0EAD2;
    padding: 10px;
    font-size: 40px;
    font-family: Papyrus; 
  }

body {
    background-color: #6C584C;
  }

  a{
    color: #f0ead2;
    background-color: #a98467;
    font-size: 40px;
    font-family: Papyrus;
    border-radius: 5%;
  }

  a:hover{
    color: #adc178;
    font-size: 50px;
  }

#flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    border: solid;
    border-radius: 5%;
    border-color: #6c584c;
    align-items: center;
    justify-content: center;
  }

  .flex-item{
    flex: 1 1 25%;
    list-style-type: none;
    padding: 10px;
  }

#about-me{
    border-style: dashed #b5838d;
    border-width: 3px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 5px #ADC178;
    margin: 40px;
    position: relative;
    position: relative;
    height: 200px;
    background-color: #DDE5B6;
    font-family: "Mv Boli";
    border-radius: 5%;
  }

#trad-highway {
    border-style: dashed #b5838d;
    border-width: 3px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 5px #ADC178;
    margin: 40px;
    position: relative;
    position: relative;
    height: 200px;
    background-color: #DDE5B6;
    font-family: "Mv Boli";
    border-radius: 5%; 

  }

section p {
    justify-content: right;
    flex-wrap: wrap;
    padding: 20px;
  }

.image{
    border: 3px solid;
    margin: 10px;
    border-radius: 5%;
  }

  h4{
    align-items: bottom;
  }

  .contact-container {
    display: flex;
    border-style: dashed #b5838D;
    border-width: 3px;
    background-color: #DDE5B6;
    padding: 10px; 
    box-shadow: 5px 5px 3px #ADC178;
    margin: 40px; 
    position: relative;
    height: 200px;
    font-family: "Mv Boli";
    border-radius: 5%;
}

.flex-child {
    flex: 1;
    border: 2px solid #ADC178;
    border-radius: 5%;
}  

.flex-child:first-child {
    margin-right: 20px;
} 